@model IEnumerable<LWFinancial.Models.Account>

@using LWFinancial.Helpers
@using LWFinancial.Enumerations
@using Microsoft.AspNet.Identity

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Add Accounts</h2>
        
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@Url.Action("Index","Households")">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Dashboard</span></li>
                <li><span>Accounts</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
            </div>

            <h2 class="panel-title">Accounts</h2>
        </header>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover mb-none">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <th>@Html.DisplayName("Initial Balance")</th>
                            <th>@Html.DisplayName("Current Balance")</th>
                            <th>@Html.DisplayName("Reconciled Balance")</th>
                            <th>@Html.DisplayName("Low Balance Alert")</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.InitialBalance)</td>
                                <td>@Html.DisplayFor(modelItem => item.CurrentBalance)</td>
                                <td>@Html.DisplayFor(modelItem => item.ReconciledBalance)</td>
                                <td>@Html.DisplayFor(modelItem => item.LowBalanceWarning)</td>
                                <td class="actions-hover actions-fade">
                                    <a class="fa fa-pencil">@Html.ActionLink("Edit", "Edit", new { id = item.Id })</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- end: page -->

</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
