@model LWFinancial.Models.Household
@using LWFinancial.Helpers
@using LWFinancial.Enumerations
@using Microsoft.AspNet.Identity

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Join Household</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@Url.Action("Index","Households")">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Dashboard</span></li>
                <li><span>Household</span></li>
                <li><span>Join</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <section class="panel">
                <header class="panel-heading bg-primary">
                    <div class="panel-heading-icon">
                        <img src="@Model.AvatarPath" class="img-responsive" data-lock-picture="~/img/!logged-user.jpg" />
                    </div>
                </header>
                <div class="panel-body text-center">
                    <h3 class="text-semibold mt-sm text-center">@Model.Name</h3>
                    <p class="text-center">@Model.Decscription</p>
                </div>
                <div class="quote-footer">
                    <span class="datetime">Created: @Model.Created.ToString("MMMM dd, yyyy")</span>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        @using (Html.BeginForm("AcceptAsync", "Households", FormMethod.Post, new { @class = "form-horizontal mb-lg" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Name)
            @Html.HiddenFor(model => model.Decscription)
            @Html.HiddenFor(model => model.AvatarPath)
            @Html.HiddenFor(model => model.IncomeAmount)
            @Html.HiddenFor(model => model.Created)
            @Html.HiddenFor(model => model.Updated)

            <div class="col-md-offset-3 col-md-2">
                <input type="submit" value="Join" class="btn btn-primary" />
            </div>
        }
    </div>

    <!-- end: page -->

</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}