@model LWFinancial.Models.Household
@using LWFinancial.Helpers
@using LWFinancial.Enumerations
@using Microsoft.AspNet.Identity

@{
    var householdsHelper = new HouseholdsHelper();
}

<section role="main" class="content-body">
    <header class="page-header">
        <h2>@Model.Name Dashboard</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@Url.Action("Index","Households")">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Dashboard</span></li>
                <li><span>Household</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
    <div class="row">
        <div class="col-md-offset-10">
            <a class="mb-xs mt-xs mr-xs modal-basic btn btn-danger" data-toggle="modal" data-target="#modalHeaderColorDanger">Leave Household</a>
            <div id="modalHeaderColorDanger" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <header class="panel-heading" style="background-color:darkred">
                            <h2 class="panel-title" style="color:white">WARNING</h2>
                        </header>
                        <section class="panel">
                            <div class="panel-body">
                                <div class="modal-wrapper">
                                    <div class="modal-icon">
                                        <i class="fa fa-times-circle"></i>
                                    </div>
                                    <div class="modal-text">
                                        <p>You are about to leave this Household. Are you sure you would like to do this?</p>
                                        @if (User.IsInRole(RoleNames.HOH.ToString()))
                                        {
                                            <br />
                                            <p>If you leave, the household will be deleted.</p>
                                        }
                                    </div>
                                </div>
                            </div>
                            @using (Html.BeginForm("LeaveAsync", "Households", FormMethod.Post, new { @class = "form-horizontal mb-lg" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("userId", User.Identity.GetUserId())
                                @Html.Hidden("householdId", Model.Id)
                                <footer class="panel-footer">
                                    <div class="row">
                                        <div class="col-md-12 text-right">
                                            <input type="submit" value="OK" class="btn btn-danger" />
                                            <input type="submit" value="Cancel" data-dismiss="modal" class="btn btn-default" />
                                        </div>
                                    </div>
                                </footer>
                            }
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="name text-semibold" style="text-align:center">Welcome to @Model.Name Dashboard</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <!-- Header -->
            <section class="panel panel-group">
                <header class="panel-heading bg-primary">
                    <div class="widget-profile-info">
                        <div class="profile-picture">
                            <img src="@Model.AvatarPath">
                        </div>
                        <div class="profile-info">
                            <h4 class="name text-semibold">@Model.Name</h4>
                            <h5 class="role">Welcome!</h5>
                        </div>
                    </div>
                    <div class="quote-footer" style="text-align:right">
                        @if (Model.Updated == null)
                        {
                            <span class="datetime"> Updated: @Model.Created.ToString("MMMM dd, yyyy")</span>
                        }
                        else
                        {
                            <span class="datetime"> Updated: @Model.Updated.Value.ToString("MMMM dd, yyyy")</span>
                        }

                        -
                        <a href="@Url.Action("Edit", new { id = Model.Id})" style="color:white">Edit</a>
                    </div>
                </header>
                <div class="panel-body">
                    <div class="profile-quote">
                        <p>
                            @Model.Decscription
                        </p>
                    </div>
                    <hr class="solid short mt-lg">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="h4 text-bold mb-none mt-lg">@householdsHelper.GetBudgetCountTotal()</div>
                            <p class="text-xs text-muted mb-none">Budgets</p>
                        </div>
                        <div class="col-md-3">
                            <div class="h4 text-bold mb-none mt-lg">@householdsHelper.GetBudgetItemCountTotal()</div>
                            <p class="text-xs text-muted mb-none">Budget Items</p>
                        </div>
                        <div class="col-md-3">
                            <div class="h4 text-bold mb-none mt-lg">@householdsHelper.GetTransactionCountTotal()</div>
                            <p class="text-xs text-muted mb-none">Transactions</p>
                        </div>
                        <div class="col-md-3">
                            <div class="h4 text-bold mb-none mt-lg">@householdsHelper.GetMemberCountTotal()</div>
                            <p class="text-xs text-muted mb-none">Members</p>
                        </div>
                    </div>
                    <hr class="solid short mt-lg">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="h4 text-bold mb-none mt-lg">$@householdsHelper.GetBudgetDesiredAmount()</div>
                            <p class="text-xs text-muted mb-none">Budget Amount</p>
                        </div>
                        <div class="col-md-3">
                            <div class="h4 text-bold mb-none mt-lg">$@householdsHelper.GetBudgetItemDesiredAmount()</div>
                            <p class="text-xs text-muted mb-none">Budget Items Amount</p>
                        </div>
                        <div class="col-md-3">
                            <div class="h4 text-bold mb-none mt-lg">@householdsHelper.GetAccountCountTotal()</div>
                            <p class="text-xs text-muted mb-none">Accounts</p>
                        </div>
                        <div class="col-md-3">
                            <div class="h4 text-bold mb-none mt-lg">$@Model.IncomeAmount</div>
                            <p class="text-xs text-muted mb-none">Household Income</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- BudgetItem Graph -->

        </div>
        <div class="col-md-6">
            <!-- Budget Graph -->
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                    </div>

                    <h2 class="panel-title">Percentage Used</h2>
                    <p class="panel-subtitle">Percentage of Account Income vs the allocated budgets and percentage of Budgets vs Budget Items</p>
                </header>
                <div class="panel-body">
                    <div class="row text-center">
                        <div class="col-md-6">
                            <div class="circular-bar">
                                <div class="circular-bar-chart" data-percent="@householdsHelper.GetEasyPieChartIncomePercent()" data-plugin-options='{ "barColor": "#0088CC", "delay": 300 }'>
                                    <strong>Income</strong>
                                    <label><span class="percent">@householdsHelper.GetEasyPieChartIncomePercent()</span>%</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="circular-bar">
                                <div class="circular-bar-chart" data-percent="@householdsHelper.GetEasyPieChartBudgetPercent()" data-plugin-options='{ "barColor": "#2BAAB1", "delay": 600 }'>
                                    <strong>Budget</strong>
                                    <label><span class="percent">@householdsHelper.GetEasyPieChartBudgetPercent()</span>%</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Transaction Graph -->

        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                    </div>

                    <h2 class="panel-title">Account Transactions</h2>
                    <p class="panel-subtitle">Transactions per account.</p>
                </header>
                <div class="panel-body">

                    <!-- Morris: Bar -->
                    <div class="chart chart-md" id="morrisBar"></div>

                </div>
            </section>
        </div>
    </div>

    <!-- Member List -->
    <div class="row">
        <h2 class="name text-semibold" style="text-align:center">Member List</h2>

        @if (User.IsInRole(RoleNames.HOH.ToString()))
        {
            <div class="row">
                <div class="col-md-6" style="padding-left:30px">
                    <a class="mb-xs mt-xs mr-xs modal-with-move-anim btn btn-primary btn-lg" data-toggle="modal" data-target="#inviteModal">Invite Members</a>
                </div>
            </div>




            <div id="inviteModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <header class="panel-heading" style="background-color:steelblue">
                            <h2 class="panel-title" style="color:white">Create an invitation to join @Model.Name</h2>
                        </header>
                        <section class="panel">
                            <div class="panel-body">
                                @if (User.IsInRole(RoleNames.HOH.ToString()))
                                {
                                    using (Html.BeginForm("Create", "HouseholdInvitations", FormMethod.Post, new { @class = "form-horizontal mb-lg" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Email</label>
                                            <div class="col-sm-9">
                                                @Html.Editor("Email", new { htmlAttributes = new { @class = "form-control", placeholder = "Type recipient email..." } })
                                            </div>
                                        </div>
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-3 control-label">Subject</label>
                                            <div class="col-sm-9">
                                                @Html.Editor("Subject", new { htmlAttributes = new { @class = "form-control", placeholder = "Type the subject..." } })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">Message</label>
                                            <div class="col-sm-9">
                                                <textarea rows="5" name="Body" class="form-control" placeholder="Type your message..."></textarea>
                                            </div>
                                        </div>
                                        <br />
                                        <footer class="panel-footer">
                                            <div class="row">
                                                <div class="col-md-12 text-right">
                                                    <input type="submit" value="Create" class="btn btn-primary" />
                                                    <input type="submit" value="Cancel" data-dismiss="modal" class="btn btn-default" />
                                                </div>
                                            </div>
                                        </footer>
                                    }
                                }
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        }
        <br />

        @foreach (var user in householdsHelper.UsersInHousehold(Model.Id))
        {
            <div class="col-md-6">
                <section class="panel panel-featured-left panel-featured-quartenary">
                    <div class="panel-body">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-quartenary">
                                    @if (user.AvatarPath != null)
                                    {
                                        <img src="@user.AvatarPath" alt="Joseph Doe" class="img-responsive" data-lock-picture="~/img/!logged-user.jpg" />
                                    }
                                    else
                                    {
                                        <img src="~/img/!logged-user.jpg" alt="Joseph Doe" class="img-responsive" data-lock-picture="~/img/!logged-user.jpg" />
                                    }
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h2>@user.FullName</h2>
                                </div>
                                <div class="summary-footer">
                                    @*<a class="text-muted text-uppercase">Transactions: @householdsHelper.GetTransactionCountTotal()</a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        }
    </div>

    <!-- end: page -->

</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        var urlDoubleLine = '@Url.Action("GetSideBarChartData", "AjaxData")';
        $.post(urlDoubleLine).then(function (response) {
            $('#morrisBar').empty();
            new Morris.Bar({
                resize: true,
                element: 'morrisBar',
                data: response,
                xkey: 'y',
                ykeys: ['a', 'b'],
                labels: ['Withdrawls', 'Deposits'],
                hideHover: true,
                barColors: ['#0088cc', '#2baab1']
            });
        });
    </script>
}