@model IEnumerable<LWFinancial.Models.Account>

@using LWFinancial.Helpers
@using LWFinancial.Enumerations
@using Microsoft.AspNet.Identity

<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
        </div>

        <h2 class="panel-title">Accounts</h2>
    </header>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover mb-none">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th>@Html.DisplayName("Initial Balance")</th>
                        <th>@Html.DisplayName("Current Balance")</th>
                        <th>@Html.DisplayName("Reconciled Balance")</th>
                        <th>@Html.DisplayName("Low Balance Alert")</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>$@Html.DisplayFor(modelItem => item.InitialBalance)</td>
                            <td>$@Html.DisplayFor(modelItem => item.CurrentBalance)</td>
                            @if(item.ReconciledBalance > 0)
                            {
                                <td>$@Html.DisplayFor(modelItem => item.ReconciledBalance)</td>
                            }
                            else
                            {
                                <td>@Html.DisplayFor(modelItem => item.ReconciledBalance)</td>
                            }
                            
                            <td>$@Html.DisplayFor(modelItem => item.LowBalanceWarning)</td>
                            <td class="actions-hover actions-fade">
                                <a style="color:white" class="mb-xs mt-xs mr-xs modal-with-move-anim btn btn-info" href="#editModal">Edit</a>
                                <a style="color:white" class="mb-xs mt-xs mr-xs modal-with-move-anim btn btn-danger" href="#deleteModal">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

