@model IEnumerable<LWFinancial.Models.BudgetItem>

@using LWFinancial.Helpers
@using LWFinancial.Enumerations
@using Microsoft.AspNet.Identity

<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
        </div>

        <h2 class="panel-title">Budget Items</h2>
    </header>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover mb-none">
                <thead>
                    <tr>
                        <th>@Html.DisplayName("Budget Name")</th>
                        <th>@Html.DisplayName("Budget Item")</th>
                        <th>@Html.DisplayName("Desired Balance")</th>
                        <th>@Html.DisplayName("Current Balance")</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Budget.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>$@Html.DisplayFor(modelItem => item.DesiredAmount)</td>
                            @if (item.CurrentAmount > 0)
                            {
                                <td>$@Html.DisplayFor(modelItem => item.CurrentAmount)</td>
                            }
                            else
                            {
                                <td>@Html.DisplayFor(modelItem => item.CurrentAmount)</td>
                            }
                            <td class="actions-hover actions-fade">
                                <a style="color:white" class="mb-xs mt-xs mr-xs modal-with-move-anim btn btn-info" data-toggle="modal" data-target="#editModal" data-id="@item.Id" data-budgetitemname="@item.Name" data-desiredamount="@item.DesiredAmount">Edit</a>
                                <a style="color:white" class="mb-xs mt-xs mr-xs modal-with-move-anim btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

