
@model LWFinancial.Models.BudgetItem
@using LWFinancial.Models
@using LWFinancial.Helpers
@using LWFinancial.Enumerations
@using Microsoft.AspNet.Identity

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Budget Items</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="@Url.Action("Index","Households")">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Dashboard</span></li>
                <li><span>Budget Items</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
    @{
        var db = new ApplicationDbContext();
        var user = db.Users.Find(User.Identity.GetUserId());
        var budgetItemHelper = new BudgetItemHelper();
        var householdHelper = new HouseholdsHelper();
    }
    <!--Create-->
    <div class="row">
        <div class="col-md-6" style="padding-left:16px">
            <a class="mb-xs mt-xs mr-xs modal-with-move-anim btn btn-primary btn-lg" data-toggle="modal" data-target="#accountModal">Create Budget Item</a>
        </div>
    </div>
    <div id="accountModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <header class="panel-heading" style="background-color:steelblue">
                    <h2 class="panel-title"><a style="color:white">Create a budget item</a></h2>
                </header>
                @using (Html.BeginForm("Create", "BudgetItems", FormMethod.Post, new { @class = "form-horizontal mb-lg" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.CurrentAmount)
                    <section class="panel">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Budget Name</label>
                                <div class="col-sm-9">
                                    @Html.DropDownList("BudgetId", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Budget Item Name</label>
                                <div class="col-sm-9">
                                    @Html.Editor("Name", new { htmlAttributes = new { @class = "form-control", placeholder = "Type budget item name..." } })
                                </div>
                            </div>
                            <div class="form-group mt-lg">
                                <label class="col-sm-3 control-label">Desired Amount</label>
                                <div class="col-sm-9">
                                    @Html.Editor("DesiredAmount", new { htmlAttributes = new { @class = "form-control", placeholder = "Type desired amount..." } })
                                </div>
                            </div>
                            <br />
                            <footer class="panel-footer">
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <input type="submit" value="Create" class="btn btn-primary" />
                                        <input type="submit" value="Cancel" data-dismiss="modal" class="btn btn-default" />
                                    </div>
                                </div>
                            </footer>

                        </div>
                    </section>
                }
            </div>
        </div>
    </div>
    <!--Edit-->
    <!--Delete-->
    <div id="editModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <header class="panel-heading" style="background-color:skyblue">
                    <h2 class="panel-title" style="color:white">Edit an Account</h2>
                </header>
                @using (Html.BeginForm("Edit", "BudgetItems", FormMethod.Post, new { @class = "form-horizontal mb-lg" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("budgetItemId")
                    <section class="panel">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Budget Name</label>
                                <div class="col-sm-9">
                                    @Html.DropDownList("BudgetId", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group mt-lg">
                                <label class="col-sm-3 control-label">Desired Amount</label>
                                <div class="col-sm-9">
                                    @Html.Editor("desiredAmount", new { htmlAttributes = new { @class = "form-control", placeholder = "Type desired amount..." } })
                                </div>
                            </div>
                            <br />
                        </div>
                        <footer class="panel-footer">
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <input type="submit" value="Edit" class="btn btn-info" />
                                    <input type="submit" value="Cancel" data-dismiss="modal" class="btn btn-default" />
                                </div>
                            </div>
                        </footer>
                    </section>
                }
            </div>
        </div>
    </div>

    <div id="deleteModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <header class="panel-heading" style="background-color:darkred">
                    <h2 class="panel-title" style="color:white">Delete a budget item</h2>
                </header>
                @using (Html.BeginForm("Delete", "BudgetItems", FormMethod.Post, new { @class = "form-horizontal mb-lg" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("budgetItemsId")
                    <section class="panel">
                        <div class="panel-body">
                            <div class="modal-wrapper">
                                <div class="modal-icon">
                                    <i class="fa fa-times-circle"></i>
                                </div>
                                <div class="modal-text">
                                    <p>You are about to delete a Budget Item. Are you sure you would like to do this?</p>
                                </div>
                            </div>
                        </div>
                        <footer class="panel-footer">
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <input type="submit" value="Delete" class="btn btn-danger" />
                                    <input type="submit" value="Cancel" data-dismiss="modal" class="btn btn-default" />
                                </div>
                            </div>
                        </footer>
                    </section>
                }
            </div>
        </div>
    </div>


    <!--Index-->
    @Html.Partial("_BudgetItemTable", budgetItemHelper.ListBudgetItems(householdHelper.ListUserHousehold(User.Identity.GetUserId())))
    <!-- end: page -->

</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $("td.actions-hover.actions-fade > a.mb-xs.mt-xs.mr-xs.modal-with-move-anim.btn.btn-info").click(function () {

            //finds the related data in the element with attribute
            //of 'data-id' and sets it to var userId
            var budgetItemId = $(this).data('id');
            //get the account Name from the data-accountName field
            var budgetItemName = $(this).data('budgetitemname');
            //example in html: data-reconciledAmount="item.ReconciledAmount" will go to this variable.
            var desiredAmount = $(this).data('desiredamount');
            //etc.. for all necessary fields for your form.

            //finds the input with the name of 'acountId' and pushes
            //our variable into the value.
            $('#editModal').find('input[name="budgetItemId"]').val(budgetItemId);
            //finds the input (or hidden) with the name of accountName and pushes
            //the variable in.
            $('#editModal').find('input[name="budgetItemName"]').val(budgetItemName);
            //When the user opens the modal, the current Reconciled Balance will
            //already be populating the input, and they can make changes.
            $('#editModal').find('input[name="desiredAmount"]').val(desiredAmount);

        });
    </script>

    <script>
        $("td.actions-hover.actions-fade > a.mb-xs.mt-xs.mr-xs.modal-with-move-anim.btn.btn-danger").click(function () {

            //finds the related data in the element with attribute
            //of 'data-id' and sets it to var userId
            var budgetItemsId = $(this).data('id');

            //finds the input with the name of 'acountId' and pushes
            //our variable into the value.
            $('#deleteModal').find('input[name="budgetItemsId"]').val(budgetItemsId);
        });
    </script>

}
